body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100dvh;
}
canvas {
  transition: all 2s;
}
.gameLost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}


.hasBlink {
  animation: blink .5s infinite;
  color: red;
  font-size: 25px;
}

@keyframes blink {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}
